html {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

	body * {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
	}

.page-loader img {
	margin-top: -15px;
	margin-left: -15px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.landing-page {
	margin:0 50px;
	max-width: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

	
		
			
.header-container {
	background-color: #000;
	padding-top: 1px;
	margin-top: -1px;
	position: relative;
}
.header-content {
	color: #fff;
	background-color: #232323;
	padding: 40px 50px;
	/*margin: 10%;*/
	/*position: relative;
	z-index: 1000;*/
	-webkit-box-shadow: 0 0 30px #000 inset;
	-moz-box-shadow: 0 0 30px #000 inset;
	box-shadow: 0 0 30px #000 inset;
}

	.header-content .container {
		width: 100%;
	}

